@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo/Aleo-Regular.eot?#') format('eot'),
           url('../fonts/Aleo/Aleo-Regular.woff') format('woff'),
             url('../fonts/Aleo/Aleo-Regular.ttf') format('truetype');
  }
@font-face {
    font-family: 'Aleo';
    font-weight: bold;
    src: url('../fonts/Aleo/Aleo-Bold.eot?#') format('eot'),
           url('../fonts/Aleo/Aleo-Bold.woff') format('woff'),
             url('../fonts/Aleo/Aleo-Bold.ttf') format('truetype');
  }
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir/Avenir-Regular.eot?#') format('eot'),
           url('../fonts/Avenir/Avenir-Regular.woff') format('woff'),
             url('../fonts/Avenir/Avenir-Regular.ttf') format('truetype');
  }
@font-face {
    font-family: 'Avenir';
    font-weight: bold;
    src: url('../fonts/Avenir/Avenir-Bold.eot?#') format('eot'),
           url('../fonts/Avenir/Avenir-Bold.woff') format('woff'),
             url('../fonts/Avenir/Avenir-Bold.ttf') format('truetype');
}

    
nav a
{
    color: $white;
    text-decoration: none;
    text-align: center;
    line-height: 1.25;
    h2{
    	font-size: 1.5em;
        font-family: $sans;
        text-transform: uppercase;
//        font-weight: bold;
        letter-spacing: .1em;
    }
    h4{
    	font-family: $sans;
        color: $white;
    }
}
.document{
    line-height: 1.5;
    color: $brown;
    font-family: $sans;
    h2{
        font-family: $slab;
        color: $dark-blue;
        font-size: 1.5em;
        font-weight: bold;
        padding-top: 1.5em;
    }
    h3
    {
        font-family: $slab;
        color: $dark-blue;
//        font-weight: bold;
//        text-transform: uppercase;
        padding-top: 1em;
    }
    ul{
        list-style: square;
        li{
            margin-left: 1.5em;
        }
    }
}
h1
{
//    line-height: 2.5;
    padding:.75em;
    font-family: $slab;
    color: $dark-blue;
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}